<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing - ChatFlow Innovations</title>
    <link rel="stylesheet" href="..\..\app\static\css\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Agu+Display&family=Montserrat:wght@500&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="resources">
    <!-- Navbar section -->
    <nav class="navbar">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="./pricing.html">Pricing</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./credits.html">Credits</a></li>
        </ul>
    </nav>
    <div class="credits">
        <h1>Credits</h1>
        <h2>Chatflow Innovations - Creator's Note</h2>
        <p>ChatFlow Innovations was founded by Alex King, a passionate Software Engineer originally from the UK and now based in Australia. With a deep interest in AI technology and software development, Alex has crafted innovative AI-driven solutions that help businesses optimize their customer interactions. Through ChatFlow Innovations, Alex is committed to providing intuitive, efficient, and powerful chatbot solutions to businesses across industries, enhancing communication, customer service, and business growth.</p>
        <h2>Attributions</h2>
        <p>We would like to express our gratitude to the talented designers who created the icons used in ChatFlow Innovations. These icons help bring the project to life, enhancing user experience and interface design.</p>
        <p class="icons-sourced"><strong>Icons sourced from Flaticon</strong></p>
        <p><a href="https://www.flaticon.com/free-icons/impulse" title="impulse icons">Impulse icons created by Parzival’ 1997 - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/technology" title="technology icons">Technology icons created by Freepik - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/settings" title="settings icons">Settings icons created by Freepik - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/attract-consumer" title="attract consumer icons">Attract consumer icons created by kliwir art - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/time" title="time icons">Time icons created by Freepik - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/translate" title="translate icons">Translate icons created by Design View - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/personal-assistant" title="personal assistant icons">Personal assistant icons created by Parzival’ 1997 - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/shield" title="shield icons">Shield icons created by Freepik - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/escalation" title="escalation icons">Escalation icons created by zero_wing - Flaticon</a></p>
        <p><a href="https://www.flaticon.com/free-icons/automation" title="automation icons">Automation icons created by nangicon - Flaticon</a></p></p>
        <h2>Special Thanks</h2>
        <p>We would like to extend our sincere appreciation to the broader AI and open-source software community. Your contributions continue to inspire and empower developers to build innovative solutions that change the way businesses operate.</p>
        <h2>Contact Us</h2>
        <p>For any inquiries, please reach out via our <a href="./contact.html">Contact Page.</a></p>






    </div>
</body>
</html>
