<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pricing - ChatFlow Innovations</title>
    <link rel="stylesheet" href="..\..\app\static\css\style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Agu+Display&family=Montserrat:wght@500&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body class="resources">
    <!-- Navbar section -->
    <nav class="navbar">
        <ul>
            <li><a href="../../index.html">Home</a></li>
            <li><a href="./pricing.html">Pricing</a></li>
            <li><a href="./contact.html">Contact</a></li>
            <li><a href="./credits.html">Credits</a></li>
        </ul>
    </nav>
    <div class="pricing-section">
        <h1>ChatFlow Innovations 3.0</h1><br>

        <div class="plan">
            <h2>What You Get For <strong>$99.99/month</strong>:</h2>
            <img src="../../app/static/images/Chatbot.png">
            <ul>
                <li>Our premium chatbot that supports up to 5,000 chats per month</li>
                <li>Seamless website and email integration</li>
                <li>Detailed analytics and reporting</li>
                <li>24/7 Email support from ChatFlow Innovations</li>
                <li>2-week free trial (no payment information required until the trial ends).</li>
            </ul>
            <a href="https://buy.stripe.com/test_9AQ8zea8r9CZ9dSfZ1" class="btn" target="_blank">
                Buy Now
            </a>
        </div>
        </div>
    </div>
</body>
</html>
